@import "../config/variables";

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0px 16px 0px;
  margin: 80px 0px 88px 0px;

  @include tab {
    margin: 64px 0px 72px 0px;
  }

  @include sp {
    margin: 40px 0px 72px 0px;
    flex-flow: column;
    align-items: center;
  }
}

.header__logo {
  width: 176px;

  @include sp {
    margin-bottom: 40px;
  }

  img {
    width: 100%;
  }
}

.header__nav {
  ul {
    display: flex;

    li {
      line-height: 1;
      margin-left: 48px;

      &:first-child {
        margin-left: 0px;
      }

      a {
        transition: color 0.1s; //任意に変更してください

        &:hover {
          color: $fontSelectColor; //任意に変更してください
        }
      }
    }
  }
}

// header {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   max-width: 800px;
//   padding: 80px 0px 0px 0px;
//   margin: 0px 0px 0px 0px;
//   // position: fixed;

//   @include pc {
//     // flex-direction: row;
//   }
//   @include tab {
//     // flex-direction: row;
//   }
//   @include sp {
//     flex-direction: column;
//     padding: 40px 0px 0px 0px;
//   }
// }

// .header__title {
//   img {
//     height: 40px;
//   }
// }

// .header__nav {
//   font-size: 1.8rem;

//   // @include pc {
//   //   background-color: #F2F0ED;
//   // }
//   // @include tab {
//   //   background-color: rgba(0, 255, 0, 0.05);
//   // }
//   // @include sp {
//   //   background-color: rgba(0, 0, 255, 0.05);
//   // }

//   ul {
//     display: flex;
//     justify-content: flex-end;

//     li {
//       margin-left: 56px;

//       @include pc {
//         // flex-direction: row;
//       }
//       @include tab {
//         // flex-direction: row;
//       }
//       @include sp {
//         flex-direction: column;
//         justify-content: center;
//         margin-left: 16px;
//         margin-right: 16px;
//         padding: 16px 0px 0px 0px;
//       }
//     }
//   }
// }
