header {
  display: flex;
  // justify-content: center;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  padding: 32px 0px 32px 0px;
  position: fixed;
}

.header__title {
  img {
    height: 48px;
  }
}

.header__nav {
  font-size: 2rem;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      margin-left: 56px;
    }
  }
}
