@import "../config/variables";

.member {
  width: 100%;
  margin-bottom: 200px;

  &__title {
    font-size: 2rem;
    letter-spacing: 0.15rem;
    margin-bottom: 64px;
  }

  &__block {
    margin-bottom: 56px;
  }

  &__name {
    font-size: 1.8rem;
    margin-bottom: 16px;
    letter-spacing: 0.2rem;

    span {
      font-size: 1.8rem;
      font-weight: 800;
      margin-right: 24px;
    }
  }

  .profileLink {
    display: inline-block;
    margin-top: 8px;
    color: #C94141;
    transition: color 0.3s; //任意に変更してください

    &:hover {
      color: $fontSelectColor; //任意に変更してください
    }
  }
}
