.member {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 120px 0px;

  &__title {
    margin-bottom: 40px;
  }

  &__profile {
    margin-bottom: 56px;
  }

  &__name__kanji {
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
  }

  &__name__roman {
    display: inline;
    vertical-align: middle;
  }
}
