@import "./variables";

html {
  font-size: 62.5%;
}

html,
body,
main {
  width: 100%;
  box-sizing: border-box;
  background-color: $backgroundColor;
}

body {
  max-width: 800px;
  margin: 0 auto;
  font-family: "AGNextRegular", YuGothic, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  line-height: 2;
  color: $fontColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // text-select-color
  ::selection {
    background: $fontSelectColor;
    color: black;
  }
  ::-moz-selection {
    background: $fontSelectColor;
    color: black;
  }

  // responsive-test
  // @include pc {
  //   background-color: #f2f0ed;
  // }
  // @include tab {
  //   background-color: rgba(0, 255, 0, 0.05);
  // }
  // @include sp {
  //   background-color: rgba(0, 0, 255, 0.05);
  // }
}

main {
  // display: flex;
  // justify-content: center;
  // // align-items: center;
  // margin-top: 160px;
}

a {
  text-decoration: none;
  color: $fontColor;
}

// html {
//   font-size: 62.5%;
// }

// html,
// body,
// main {
//   max-width: 800px;
//   // height: 100%;
//   box-sizing: border-box;
//   margin: 0 auto;
//   overflow-y: scroll;
//   // padding: 0px 40px 0px 40px;
// }

// body {
//   margin: 0 auto;
//   // background-color: $backgroundColor;
//   // font-family: 'AtlasGrotesk-Light', YuGothic, sans-serif;
//   background-color: #f2f0ed;
//   font-family: "AGNextRegular", YuGothic, sans-serif;
//   font-size: 1.5rem;
//   letter-spacing: 0.05rem;
//   line-height: 2;
//   color: #292636;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   overflow: hidden;
//   height: 100%;
//   ::selection {
//     background: #ff6868;
//     // background: skyblue;
//     color: black;
//   }
//   ::-moz-selection {
//     background: #ff6868;
//     color: black;
//   }

//   animation: fadeIn 1.5s;
//   // -webkit-animation: fadeIn 3s ease 0s 1 normal;

//   // responsive-test
//   @include pc {
//     background-color: #f2f0ed;
//   }
//   @include tab {
//     background-color: rgba(0, 255, 0, 0.05);
//   }
//   @include sp {
//     background-color: rgba(0, 0, 255, 0.05);
//   }
// }

// a {
//   text-decoration: none;
//   color: $fontColor;
// }

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// main {
//   display: flex;
//   justify-content: center;
//   // align-items: center;
//   margin-top: 160px;
// }
