@import "./variables";

html {
  font-size: 62.5%;
}

html,
body,
main {
  width: 100%;
  background-color: $backgroundColor;
}

body {
  max-width: 800px;
  margin: 0 auto;
  font-family: "AGNextRegular", YuGothic, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  line-height: 2;
  color: $fontColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // text-select-color
  ::selection {
    background: $fontSelectColor;
    color: black;
  }
  ::-moz-selection {
    background: $fontSelectColor;
    color: black;
  }

  // responsive-test
  // @include pc {
  //   background-color: #f2f0ed;
  // }
  // @include tab {
  //   background-color: rgba(0, 255, 0, 0.05);
  // }
  // @include sp {
  //   background-color: rgba(0, 0, 255, 0.05);
  // }
}

main {
}

a {
  text-decoration: none;
  color: $fontColor;
}

.notationText {
  font-size: 2.4rem; //任意に変更してください
  letter-spacing: 0.1rem; //任意に変更してください
}
