html {
  font-size: 62.5%;
}

html, body, main {
  max-width: 960px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  background-color: $backgroundColor;
  // font-family: 'AtlasGrotesk-Light', YuGothic, sans-serif;
  font-family: 'AGNextBold', YuGothic, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  color: #1F1934;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%;
  ::selection {
    background: #555555;
    color: #FFFFFF;
  }
  ::-moz-selection {
    background: #555555;
    color: #FFFFFF;
  }

  animation: fadeIn 1.5s;
  // -webkit-animation: fadeIn 3s ease 0s 1 normal;

  // responsive-test
  // @include pc {
  //   background-color: rgba(255, 0, 0, 0.05);
  // }
  // @include tab {
  //   background-color: rgba(0, 255, 0, 0.05);
  // }
  // @include adjustProducts {
  //   background-color: rgba(255, 255, 0, 0.05);
  // }
  // @include sp {
  //   background-color: rgba(0, 0, 255, 0.05);
  // }
}

a {
    text-decoration: none;
    color: $fontColor;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
